# PostgreSQL configuration
POSTGRES_USER=priyank
POSTGRES_PASSWORD=changeme
POSTGRES_DB=atlas
PGHOST=localhost
PGPASSWORD=changeme
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PGHOST}:5432/${POSTGRES_DB}

# Flask environment
FLASK_ENV=development
